<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/bikes">Go to My Bikes</a>
    </div>
    <h1>Edit Bike</h1>
    <form action="/bikes/<%= bike.id %>?_method=PUT" method="POST" class="col s12">
        <div>
            <label for="brand">Brand</label>
            <input type="text" name="brand" id="brand" value="<%= bike.brand %>" required>            
        </div>
        <div>
            <label for="model">Model</label>
            <input type="text" name="model" id="model" value="<%= bike.model %>" required>            
        </div>
        <div>
            <label for="year">Year</label>
            <input type="number" name="year" id="year" value="<%= bike.year %>" required>           
        </div>
        <div>
            <label for="type">Type</label>
            <input type="text" name="type" id="type" value="<%= bike.type %>" required>   
        </div>
        <div>
            <button type ="submit">Update</button>
        </div>
    </form>
</body>
</html>