<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div>
        <a href="/">Home</a>
    </div>
    <div>
        <h1>My Bikes</h1>
        <ul>
            <% for( let index=0; index < bikes.length; index++ ) { %>
                <li>
                    <a href="/bikes/<%= bikes[index].id %>"> <%= bikes[index].brand %> <%= bikes[index].model %> <%= bikes[index].year %> <%= bikes[index].type %></a>
                </li>
            <% } %>
        </ul>
        <div>
            <a href="/bikes/new"><button>Add a New Bike</button></a>
        </div>
    </div>
</body>
</html>